#main-row{
    display: inline-flex;
    height: 170px;
    justify-content: center;
    width: 100%;
    margin:-20px auto;
    margin-bottom: 30px;
}
.commonclass{
    width: 250px;
    transition: 0.3s;
   box-shadow: 2px 2px 4px 4px #ebe9e9;
    border-radius: 5px;
    height: 170px;
}
.div4{
    height: 100px;
    border-radius: 5px;
}
.p-1{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.p-2{
    font-size: 12px;
    margin-top: -18px;
}
/* .hover-item {
    transition: 0.3s;
  } */
  .commonclass:hover{
    transform: translate(0, -10px);
  }