#sale-main {
    /* height: 800px; */
    width: 100%;
    height: auto;
    /* border: 2px solid red; */

}

#sale-form {
    width: 100%;
    margin: auto;
    padding: 30px;
    padding-top: 50px;
    border-radius: 20px;
    backdrop-filter: blur(200px);
    background: white;
    border: 1px solid rgb(160, 160, 160)
        /* background: white;
   ; */
        /* margin-left: 500px; */
}

#sale-form-div {
    /* border: 2px solid red; */
    margin-left: 450px;

    width: 40%;
    position: absolute;
}

#sale-container {
    margin-top: 80px !important;
    margin-left: 50px;
    margin-bottom: 30px;
}

#sellcont {
    margin-top: 10px;
    /* font-family: Raine-HorneLight;
    color: #212529;
    font-size: 18px;
    letter-spacing: 0.5px; */
}

#saleimage {
    background-image: linear-gradient(to right, #f99e1c 50%, #fec607);
    /* background-image: url; */

    /* backdrop-filter: opacity(20px); */
}

#ListPropertySale {
    font-size: 35px;
    margin-top: 50px;
    font-weight: 400;
    font-family: Raine-HorneRegular;
    color: #504d4f;
}

.property-form {
    padding: 10px !important;
}

#sell-dropdown {

    border-radius: 30px;
    font-size: 15px;
    min-height: 55px;
    margin-bottom: 18px;
    border: none;
    color: #716e70;
    font-family: "Raine-HorneRegular";
    padding: 13px 25px;
    font-size: 16px;
}

#PropertyType {
    border-radius: 30px;
    min-height: 55px;
    margin-bottom: 18px;
    border: none;
    color: #716e70;
    font-family: "Raine-HorneRegular";
    padding: 13px 25px;
    font-size: 16px;

}

#PropertyStatus {
    border-radius: 30px;
    min-height: 55px;
    margin-bottom: 18px;
    border: none;
    color: #716e70;
    font-family: "Raine-HorneRegular";
    padding: 13px 25px;
    font-size: 16px;
}

#sellbtn {
    margin-top: 30px;

}

.custom-toggle::after {
    content: none;
}
#sale-div-image{
    min-height: 300px;
    float: right !important;
}
@media screen and (min-width: 745px) and (max-width: 990px) {
  #sale-div-det{
    width: 100%;
  }
  #sale-div-image{
    width: 100%;
    height: 300px;
  }
  }

  @media screen and (min-width:320px) and (max-width:460px) {
    #pro-heading{
        font-size: 19px;
    }
    
  }